
#sz1{
    grid-area: s1;
}
#sz2{
    grid-area: s2;
}
#sz3{
    grid-area: s3;
}
#sz4{
    grid-area: s4;
}
#kep{
    grid-area: k;
}
#fotartalom{
    display: grid;
    grid-template-areas: 
    's1 s4 s4'
    's1 k s2'
    's3 s3 s3'
    ;
}
